<div class="pageContainer">
    <div class="navBar">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/home#features" > Features</a></li>
          <li><a href="/home#aboutUs" >About Us</a></li>
          <li><a href="/home#contactUs">Contact Us</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </nav>
    </div>
  
    <div class="body">
      <div class="content">
        <div class="text">
          <h1 class="websiteTitle">Effortless Money Management</h1>
          <p class="catchPhrase">Take control of your finances with our intuitive <b>e-wallet</b>.
            Track your spendings, set budgets, and achieve your financial 
            goals effortlessly. <br>
          </p>
          
          <button (click)="goLogin()" class="getStarted">Get Started</button>
      </div>
        <div class="image">
          <img src="../../assets/w.png" alt="Description of the image">
        </div>
      </div>
    </div>
    <div id="features" class="features">
      <h1>Features Showcase</h1>
      <h4 style="color:#b5b5b5; width: 60%; text-align: center;">Organize your incomes, manage your family budget, keep track of expenses while traveling and understand where all your money are with some great, yet simple features.</h4>
      <div class="aboutItems">
        <div class="item">
          <h2> Painless budgeting</h2>
          <p> 
            It takes seconds to record daily transactions. Put them into clear and visualized categories such as Expense: Food, Shopping or Income: Salary, Gift.
          </p>
        </div>
        <div class="item">
          <h2> Expense Insight  </h2>
          <p>
            One report to give a clear view on your spending patterns. Understand where your money comes and goes with easy-to-read graphs.
          </p>
        </div>
        <div class="item">
          <h2> Simple money tracker</h2>
          <p> 
            It takes seconds to record daily transactions. Put them into clear and visualized categories such as Expense: Food, Shopping or Income: Salary, Gift.
          </p>
        </div>
         <div class="item">
        <h2>Secure & Private</h2>
        <p>
            Your financial data is our top priority. Benefit from state-of-the-art security features that ensure your information remains confidential and protected.
        </p>
    </div>
    <div class="item">
      <h2>Advanced Customization</h2>
      <p>
          Create accounts tailored to your needs,
          associate personalized categories,
          and set savings goals that align with your dreams.
      </p>
  </div>
        <div class="item">
          <h2>Financial Goal Planning</h2>
          <p>
              Set and achieve your financial goals effortlessly. Whether it's saving for a dream vacation or a major purchase, our app helps you plan and track your progress.
          </p>
      </div>
      </div>
    </div>
    <div id="aboutUs" class="aboutUs">
      <h1>About Us</h1>
      <div class="aboutItems aboutItems1">
        <div class="item">
          <h2>Our Mission</h2>
          <p>
            At Achbal, our mission is to empower individuals and families to achieve financial well-being by providing a user-friendly e-wallet solution. We are committed to simplifying money management and helping you reach your financial goals effortlessly.
          </p>
        </div>
        <div class="item">
          <h2>Commitment to Security</h2>
          <p>
            We prioritize the security and privacy of your financial data. Achbal employs advanced security features to ensure that your information remains confidential and protected. Trust us to safeguard your financial information.
          </p>
        </div>
        <div class="item">
          <h2>Customer-Centric Approach</h2>
          <p>
           Achbal is dedicated to providing a personalized and customer-centric experience. We believe in the importance of understanding your unique financial needs and offering solutions that align with your individual goals and aspirations.
          </p>
        </div>
      </div>
    </div>
    <div id="contactUs" class="features" style="color: black;">
      <h1>Contact Us</h1>
      <p>
        For any inquiries or assistance, feel free to reach out to us. We are here to help you with your money management needs.
      </p>
      <div class="contactDetails features">
        <div class="contactItem">
          <h2>Email</h2>
          <p>achbal.business&#64;gmail.com</p>
        </div>
        <div class="contactItem">
          <h2>Phone</h2>
          <p>+212 674 721 02</p>
        </div>
        <div class="contactItem">
          <h2>Address</h2>
          <p>Omar mkhdmch lih lcode hhhhhhhhh, Marrakech, Morocco</p>
        </div>
      </div>
    </div>
    
    
  </div>
  