<!--<p-sidebar [(visible)]="sidebarVisible">
     add logo
    
   <nav>
         
            <a href="/dashboard">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
         
   </nav>
</p-sidebar>
<p-button (click)="sidebarVisible = true" icon="pi pi-arrow-right"></p-button>
-->
<div class="body">

    <div class="sidenav">
        
        <hr>
        <a class="linkButton"  href="dashboard/overview" > <i class="icon pi pi-home"></i><span>Dashboard</span></a>
        <a class="linkButton" name="account"  href="dashboard/account" > <i class="icon pi pi-users"></i><span>Proprietaire</span></a>
        <a class="linkButton"  name="category" href="dashboard/category" > <i class="icon pi pi-th-large"></i><span>Terrain</span></a>
        <hr>
        <a class="linkButton" name="transation" href="dashboard/transaction" > <i class="icon pi pi-money-bill"></i><span>PNB</span></a>
        <hr>
        <a class="linkButton logout" name="logout" href="home" > <i class="icon pi pi-sign-out"></i><span>Log out</span></a>
     
    
    </div>
    <div class="empty">
    </div>
   
    
    <div class="aze">
        <app-navbar ></app-navbar>
        <router-outlet></router-outlet>
    </div>
</div>