
.chartDoughnut{
    width: 500px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    padding: 30px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    &:hover{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.645);
    }
}


.chartContainer{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-gap: 50px;
    place-content: center;
    margin-top: 50px;
}


.tableContainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
}
  .table{
    width:60rem;
  }


.pageContainer{
    display: grid;
    grid-template-columns: 1fr ;
}